<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>Jwilson</string>
	<key>category</key>
	<string>Format</string>
	<key>command</key>
	<string>#!/usr/bin/python
import sys
import sqlparse 
import urllib2, urllib
import json


lines = sys.stdin.readlines()
l = ""
for line in lines:
    l += line

print l
#sql = lines[0]
#sql = sql.replace('\r', '')
#print sql
params = {'sql': l, 'reindent': 1}
response = urllib2.urlopen('http://sqlformat.org/api/v1/format', data=urllib.urlencode(params))
data = json.loads(response.read())
print data['result']
    </string>
	<key>contact</key>
	<string>whfgva@wnzrfwjvyfba.pbz</string>
	<key>description</key>
	<string>Tidy MYSQL with sqlformat.org API</string>
	<key>input</key>
	<string>selectedtext</string>
	<key>input_fallback</key>
	<string>currentquery</string>
	<key>internalKeyEquivalent</key>
	<dict>
		<key>characters</key>
		<string>T</string>
		<key>keyCode</key>
		<integer>17</integer>
		<key>modifierFlags</key>
		<integer>1703936</integer>
	</dict>
	<key>keyEquivalent</key>
	<string>~$@T</string>
	<key>name</key>
	<string>Tidy SQL</string>
	<key>output</key>
	<string>insertastext</string>
	<key>scope</key>
	<string>inputfield</string>
	<key>tooltip</key>
	<string>Format SQL with sqlformat.org</string>
	<key>trigger</key>
	<string>none</string>
	<key>uuid</key>
	<string>07F0C956-6186-4CAA-9754-1734607815E7</string>
</dict>
</plist>
